In [20]:
from pyspark.sql import SparkSession

In [9]:
spark = (SparkSession
        .builder
        .appName("Basic-Transformation")
         .master("local[*]")
        .getOrCreate())
spark

In [10]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [12]:
emp_df = spark.createDataFrame(data=emp_data, schema=emp_schema)
emp_df.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [21]:
from pyspark.sql.functions import col,cast
emp_cast = emp_df.select("employee_id","name","age",col("salary").cast("double"))
emp_cast.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: double (nullable = true)

In [25]:
emp_tax = emp_cast.withColumn("tax",col("salary")*0.2)
emp_tax.show()

+-----------+-------------+---+-------+-------+
|employee_id|         name|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        001|     John Doe| 30|50000.0|10000.0|
|        002|   Jane Smith| 25|45000.0| 9000.0|
|        003|    Bob Brown| 35|55000.0|11000.0|
|        004|    Alice Lee| 28|48000.0| 9600.0|
|        005|    Jack Chan| 40|60000.0|12000.0|
|        006|    Jill Wong| 32|52000.0|10400.0|
|        007|James Johnson| 42|70000.0|14000.0|
|        008|     Kate Kim| 29|51000.0|10200.0|
|        009|      Tom Tan| 33|58000.0|11600.0|
|        010|     Lisa Lee| 27|47000.0| 9400.0|
|        011|   David Park| 38|65000.0|13000.0|
|        012|   Susan Chen| 31|54000.0|10800.0|
|        013|    Brian Kim| 45|75000.0|15000.0|
|        014|    Emily Lee| 26|46000.0| 9200.0|
|        015|  Michael Lee| 37|63000.0|12600.0|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|
|        017|  George Wang| 34|57000.0|11400.0|
|        018|    Nancy Liu| 29|50000.0|10000.0|
|        019|  Steven Chen| 36|62000.0|12400.0|
|        020|    Grace Kim| 32|53000.0|10600.0|
+-----------+-------------+---+-------+-------+

In [30]:
from pyspark.sql.functions import lit
# Lit is similar to 1 as column_1 in sql
emp_new_cols = emp_tax.withColumn("column_1",lit(1))\
                .withColumn("column_2",lit(2))
emp_new_cols.printSchema()
emp_new_cols.show(2)

# Lit will inefer the type
# One more function typedLit present to work with complex datatype like array/dictionary

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- tax: double (nullable = true)
 |-- column_1: integer (nullable = false)
 |-- column_2: integer (nullable = false)

+-----------+----------+---+-------+-------+--------+--------+
|employee_id|      name|age| salary|    tax|column_1|column_2|
+-----------+----------+---+-------+-------+--------+--------+
|        001|  John Doe| 30|50000.0|10000.0|       1|       2|
|        002|Jane Smith| 25|45000.0| 9000.0|       1|       2|
+-----------+----------+---+-------+-------+--------+--------+
only showing top 2 rows

In [33]:
emp_1 = emp_df.withColumnRenamed("employee_id","emp_id")
emp_1.show(1)

+------+-------------+--------+---+------+------+----------+
|emp_id|department_id|    name|age|gender|salary| hire_date|
+------+-------------+--------+---+------+------+----------+
|   001|          101|John Doe| 30|  Male| 50000|2015-01-01|
+------+-------------+--------+---+------+------+----------+
only showing top 1 row

In [36]:
emp_2 = emp_df.withColumnRenamed("employee_id","emp id")
emp_2.show(1)

+------+-------------+--------+---+------+------+----------+
|emp id|department_id|    name|age|gender|salary| hire_date|
+------+-------------+--------+---+------+------+----------+
|   001|          101|John Doe| 30|  Male| 50000|2015-01-01|
+------+-------------+--------+---+------+------+----------+
only showing top 1 row

In [54]:
# Drop 
# Always try to pass column name as string to drop method
emp_2 = emp_df.withColumnRenamed("employee_id","emp id").drop("hire_date","gender")
emp_2.show(1)

+------+-------------+--------+---+------+
|emp id|department_id|    name|age|salary|
+------+-------------+--------+---+------+
|   001|          101|John Doe| 30| 50000|
+------+-------------+--------+---+------+
only showing top 1 row

In [57]:
# Filter
emp_filtered = emp_tax.where("tax > 10000")
emp_filtered.show()

+-----------+-------------+---+-------+-------+
|employee_id|         name|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        003|    Bob Brown| 35|55000.0|11000.0|
|        005|    Jack Chan| 40|60000.0|12000.0|
|        006|    Jill Wong| 32|52000.0|10400.0|
|        007|James Johnson| 42|70000.0|14000.0|
|        008|     Kate Kim| 29|51000.0|10200.0|
|        009|      Tom Tan| 33|58000.0|11600.0|
|        011|   David Park| 38|65000.0|13000.0|
|        012|   Susan Chen| 31|54000.0|10800.0|
|        013|    Brian Kim| 45|75000.0|15000.0|
|        015|  Michael Lee| 37|63000.0|12600.0|
|        017|  George Wang| 34|57000.0|11400.0|
|        019|  Steven Chen| 36|62000.0|12400.0|
|        020|    Grace Kim| 32|53000.0|10600.0|
+-----------+-------------+---+-------+-------+

In [62]:
# Limit
emp_limit = emp_filtered.limit(5)
emp_limit.count()
emp_limit.show()

+-----------+-------------+---+-------+-------+
|employee_id|         name|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        003|    Bob Brown| 35|55000.0|11000.0|
|        005|    Jack Chan| 40|60000.0|12000.0|
|        006|    Jill Wong| 32|52000.0|10400.0|
|        007|James Johnson| 42|70000.0|14000.0|
|        008|     Kate Kim| 29|51000.0|10200.0|
+-----------+-------------+---+-------+-------+

In [66]:
# Add multiple column using withColumns (s)
columns = {
    "tax" : col("salary")*0.2,
    "column_1" : lit(1),
    "column_2" : lit(2)
}

emp_final = emp_df.withColumns(columns)
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+-------+--------+--------+
|employee_id|department_id|         name|age|gender|salary| hire_date|    tax|column_1|column_2|
+-----------+-------------+-------------+---+------+------+----------+-------+--------+--------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|10000.0|       1|       2|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15| 9000.0|       1|       2|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|11000.0|       1|       2|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30| 9600.0|       1|       2|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|12000.0|       1|       2|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|10400.0|       1|       2|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|14000.0|       1|       2|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|10200.0|       1|       2|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|11600.0|       1|       2|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01| 9400.0|       1|       2|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|13000.0|       1|       2|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|10800.0|       1|       2|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|15000.0|       1|       2|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01| 9200.0|       1|       2|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|12600.0|       1|       2|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01| 9800.0|       1|       2|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|11400.0|       1|       2|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|10000.0|       1|       2|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|12400.0|       1|       2|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|10600.0|       1|       2|
+-----------+-------------+-------------+---+------+------+----------+-------+--------+--------+